$mainColor: rgb(168, 168, 168);
$mainFont: 'helvetica';
$contrastColor: rgb(255, 255, 255);
$secondColor: rgb(0, 251, 251);


* {
  margin: 0;
  box-sizing: border-box;
  font-family: $mainFont;
}

body {
  background-color: $mainColor;
  min-height: 100%;
  
}

.indexMain {
  display: flex;
  #scrollImage {
    object-fit: cover;
    object-position: left;
    width: 300px;
    height: 300px;
    border-radius: 25%;
    margin-top: 100px;
    margin-left: 100px;
    border: 3px solid $secondColor;
  }
  #logo {
    margin-left: 50px;

  }
}
.navBar {
  display: flex;
  justify-content: space-around;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 50px;
  align-items: center;
  background-color: $secondColor;
  a {
    text-decoration: none;
    color: $mainColor;
    &:hover {
      color: $contrastColor
  }

  }
}

.portfolioImages {
  object-fit: scale-down;
  object-position: left top;
  width: 400px;
  height: 200px;
  
}

.icons {
  width: 50px;
}

#linkedin {
  position: absolute;
  top: 350px;
  left: 125px;
}

#github {
  position: absolute;
  top: 350px;
  left: 50px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

.projects {
  margin: 40px;
}

.project1, .project2, .project3 {
  background-color: $contrastColor;
  display: flex;
  border-radius: 30px;
  margin-bottom: 30px;
  .portfolioText {
    text-align: left;
    padding: 10px 20px 20px 20px;
    line-height: 1.25;
    p, ul {
      margin-bottom: 10px;
    }
    tr:nth-child(even) {background-color: #f2f2f2;}
  }
}