$mainColor: rgb(168, 168, 168);
$mainFont: 'helvetica';
$contrastColor: rgb(255, 255, 255);
$secondColor: rgb(0, 251, 251);

* {
  margin: 0;
  box-sizing: border-box;
  font-family: $mainFont;
}

body {
  background-color: $mainColor;
  min-height: 100%;
}

.indexMain {
  display: flex;
  flex-wrap: wrap;
  #logo {
    margin-left: 50px;
  }
  .slideShow {
    width: 300px;
    height: 250px;
    margin-top: 100px;
    margin-left: 100px;
    border: 3px solid $secondColor;
    border-radius: 25%;
    overflow: hidden;
  }
  .icons {
    width: 50px;
  }
  #linkedin {
    position: absolute;
    top: 350px;
    left: 150px;
  }
  
  #github {
    position: absolute;
    top: 350px;
    left: 50px;
  }
  #emailIcon {
    position: absolute;
    top: 355px;
    left: 250px;
  }
}

.navBar {
  display: flex;
  justify-content: space-around;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 50px;
  align-items: center;
  background-color: $secondColor;
  a {
    text-decoration: none;
    color: $mainColor;
    &:hover {
      color: $contrastColor
    }
  }
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

.projects {
  margin: 40px;
  display: flex;
  flex-wrap: wrap;
}

.project1, .project2, .project3 {
  background-color: $contrastColor;
  display: flex;
  flex-wrap: wrap;
  border-radius: 30px;
  margin-bottom: 30px;
  align-items: center;
  .portfolioText {
    text-align: left;
    padding: 10px 20px 20px 20px;
    line-height: 1.25;
    p, ul {
      margin-bottom: 10px;
    }
    tr:nth-child(even) {background-color: #f2f2f2;}
  }
  .portfolioImages {
    padding-left: 20px;
    max-width: 400px;
    max-height: 200px;
    margin: 20px;
  }
}

.resume {
  text-align: left;
  margin: 20px;
  tr:nth-child(even) {background-color: #f2f2f2;}
    .resumeHeading {
    margin: 20px;
      #nameOnResume {
        font-size: 50px;
        color: $secondColor;
      } 
  }
  .resumeFields {
    display: flex;
    flex-wrap: wrap;
    background-color: $contrastColor;
    margin: 20px;
    gap: 30px;
    .skills, .experience, .education {
      margin: 20px;
      max-width: 400px;
      h2 {
        background-color: $mainColor;
        color: $contrastColor;
        margin-bottom: 10px;
        padding: 10px;
      }
      h3 {
        margin-top: 20px;
      }
    }
  }
}

.aboutMe, .portfolioTitle {
  margin: 20px;
  color: $secondColor;
  text-align: left;
}

.aboutMeText {
  text-align: left;
  line-height: 1.5;
  margin: 20px;
  max-width: 500px;
}

.artWork {
  text-align: left;
  margin: 20px;
}

.artIcon {
  margin-top: 20px;
  width: 50px;
}

.bioInfo {
  display: flex;
  .profilePic {
    object-fit: cover;
    width: 150px;
    max-height: 150px;
    border-radius: 50%;
    border: 3px solid $secondColor;
    margin: 20px;
  }
}

@media only screen and (max-width: 800px) {
  .indexMain {
    display: block;
  }
  .icons {
    margin-bottom: 50px;
    #linkedin {
      
    }
    
    #github {
      position: absolute;
      left: 20px;
    }
    #emailIcon {
      position: absolute;
      right: 20px;
    }
  }
  #logo {
    margin: 0;
    margin-top: 100px;
    max-width: 300px;
  }
  .slideShow {
    position: absolute;
    margin-left: 0;
    left: 10px;
    top: 350px;
  }
  .navBar{
    a {
      font-size: 12px;
    }
  }
}