$mainColor: rgb(168, 168, 168);
$mainFont: 'helvetica';
$contrastColor: rgb(168, 168, 168);


* {
  margin: 0;
  box-sizing: border-box;
  font-family: $mainFont;
}

main {
  background-color: $mainColor;
  
}

.navBar {
  display: flex;
  justify-content: space-around;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

footer {
  display: block;
  align-self: center;
  bottom: 0;
}